@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #f6f9fc;
  color: #0f172a;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}